EXPO_PUBLIC_API_BASE_URL=http://10.160.178.28:8000/api
EXPO_PUBLIC_SOCKET_URL=ws://10.160.178.28:8000/ws
EXPO_PUBLIC_AI_ENGINE_URL=http://10.160.178.28:8001
EXPO_PUBLIC_WEB_FRONTEND_URL=http://10.160.178.28:5173
EXPO_PUBLIC_LOCATION_MATCH_METERS=250
