fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4

torch==2.5.1
transformers==4.47.1
tokenizers==0.21.0
safetensors==0.4.5
sentencepiece==0.2.0
accelerate==1.2.1

numpy==2.0.2
pandas==2.2.3
scikit-learn==1.6.0
datasets==3.2.0
evaluate==0.4.3

python-multipart==0.0.20
faster-whisper==1.1.1
python-dotenv==1.2.2
