accelerate==1.13.0
datasets==4.8.5
evaluate==0.4.6
fastapi==0.136.1
numpy==2.4.4
openai-whisper==20250625
pandas==3.0.2
pydantic==2.13.4
pydantic_core==2.46.4
python-multipart==0.0.28
safetensors==0.7.0
scikit-learn==1.8.0
sentencepiece==0.2.1
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
starlette==1.0.0
tokenizers==0.22.2
torch==2.11.0
transformers==5.8.0
uvicorn==0.46.0
